/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    background-color: #c4c4c4;

    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );

    background-attachment: fixed;

    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;

    height: 350px;
    width: 500px;

    margin: auto;
    padding: 5px;
}

/* Portrait layout (default) */
.app {
    /* background:url(../img/red_cross_100.png) no-repeat left top; */

    position:absolute;             /* position in the center of the screen */
    left: 0px;
    top: 0px;

    height: 100%;
    width: 100%;

    text-align: center;

    padding: 10px;
    margin: 0px;
}

div#content {
    width: 300px;
    height: 400px;
    margin: auto;
}

div#content div#search {
    height: 40px;
    width: 100%;
}

div#search label#searchBoxLabel {
    margin-right: 5px;
    height: 37px;
    vertical-align: center;
    font-size: 18pt;
}

div#search input#searchBox {
    font-size: 18pt;
    vertical-align: top;
    display: inline-block;

    border: 0;
    width: 200px;
    height: 37px;

    padding-left: 5px;
    padding-right: 5px;

    text-transform: uppercase;
}

div#search button#goBack {
    font-size: 18pt;
    vertical-align: top;

    height: 90%;
    margin-top: 0px;
    margin-bottom: 20px;
}

div#searchResult {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    width: 90%;

    font-size: 14pt;

    background-color: #ffffff;
    text-align: left;
    padding: 10px;

    max-height: 90%;

    overflow-y: auto;
}

div.suggestions {
    text-transform: uppercase !important;
    text-align: center !important;
}

/* Landscape layout (with min-width) */
/*
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;
        margin:90px 0px 0px 198px;
    }
}
*/

h1 {
    font-size:24px;
    font-weight:normal;
    margin-bottom: 10px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
